* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --marigold: #eba417; // yellow-500
  --platinum: #e1e1e6; // gray-100
  --sky-blue: #61dafd; // cyan-500
  --chinese-black: #121214; // gray-900
  --metallic-silver: #a8a8b3; // gray-300
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  color: var(--white);
  background: var(--chinese-black);
}

body,
input,
button,
select,
textarea {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
